<link rel="stylesheet" href="/css/styles.css">

<h1>Mediciones del dispositivo</h1>
<a href="/views/device">Volver a la lista</a>

<ul>
  <% measurements.forEach(m => { %>
    <li>
      ID: <%= m._id %> |
      Clave: <%=  m.key %> |
      Temp: <%= m.t %> °C |
      Humedad: <%= m.h %> % 
    </li>
  <% }) %>
</ul>
